.DS_Store
prog4/.DS_Store
prog5/.DS_Store
prog5/asplin_953387.zip
prog5/asplin_953387/.DS_Store
prog5/asplin_953387/logistic_regression.py
prog5/code_logistic_regression/test_logistic_real_world.ipynb
prog5/code_logistic_regression/__pycache__/logistic_regression.cpython-38.pyc
prog5/tester/tester-1.py
prog5/tester/tester1-SGD-only.py
